@model ChatItUp.Models.Forum

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThreadTitles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThreadTitles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ForumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
