@model ChatItUp.Models.ViewModels.ThreadPostIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Thread.Title</h2>

<p><a asp-controller="Categories" asp-action="Index">Categories </a>: <a asp-controller="Fora" asp-action="Index2" asp-route-id="@Model.Forum.CategoryId">Forum</a> : <a asp-controller="Threads" asp-route-id="@Model.Thread.ForumId">Threads </a>: Discussion</p>


<p>
    <a asp-action="Create" asp-route-id="@Model.Thread.ThreadId">Reply</a>
</p>

<div class="container">
    <div class="row">
        <span class="col-md-3">By</span>

        <span class="col-md-4">Message</span>

        <span class="col-lg-4">Created on</span>
    </div>
</div>
<hr />
<div class="row">
    <div class="msg-update-boxes">
        <span class="col-md-3">
            <img src=" @Model.Thread.User.ProfileImage" alt="img" class="feedImg" />
            @Model.Thread.User.Firstname
            @Model.Thread.User.Lastname
        </span>
        <span class="col-md-4">
            @Model.Thread.AuthorMessage
        </span>
        <span class="col-md-4">
            @Model.Thread.created
        </span>
    </div>
</div>
<hr />
<br />
<br />



@foreach (var item in Model.threadpost)
{
<div class="row current-chat-area">
    <div class="col-md-12">
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <div class="media">
                        <a asp-controller="Relations" asp-action="UserProfile" asp-route-id="@item.user.Id" class="pull-left">
                            <img class="feedImg img-circle" src="@item.user.ProfileImage">
                        </a>
                        <div class="media-body">
                            @Html.DisplayFor(modelItem => item.message)
                            <br>
                            <small class="text-muted">@Html.DisplayFor(modelItem => item.user.Firstname)
                            @Html.DisplayFor(x => item.user.Lastname) | @Html.DisplayFor(modelItem => item.dateCreatd) | Reply</small>
                            <hr>
                        </div>
                    </div>
                </div>
            </li>
            </ul>
           </div>
    </div>
}


