@model ChatItUp.Models.ViewModels.UserProfileViewModel



<p class="text-success">@ViewData["StatusMessage"]</p>

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="@Model.User.BannerImage" alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" src="@Model.User.ProfileImage" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>@Model.User.Firstname @Model.User.Lastname</h1>
            @if (Model.checkconnectedbutnotconfirmed)
            {
                 <button type="submit" class="btn btn-default" disabled>Request Sent</button>
            }
            @if (Model.checkConnectedAndConfirmed)
            {
                <form asp-method="post" asp-action="RemoveFriend" asp-controller="Relations">
                    <input type="hidden" value="@Model.User.Id" name="id" />
                    <button type="submit" class="btn btn-default">Remove</button>
                </form>
            }
            @if (Model.checkConnectedAndConfirmed2)
            {
                <form asp-method="post" asp-action="RemoveFriend" asp-controller="Relations">
                    <input type="hidden" value="@Model.User.Id" name="id" />
                    <button type="submit" class="btn btn-default">Remove</button>
                </form>
            }
            @if (Model.checkConnectedAndConfirmed == false && Model.checkConnectedAndConfirmed2 == false && Model.checkconnectedbutnotconfirmed == false)
            {
            <form asp-method="post" asp-action="AddFriend" asp-controller="Relations">
                    <input type="hidden" asp-for="@Model.User.Id" />
                    <button type="submit" class="btn btn-default">Add</button>
            </form> 
            }
            <div class="col-sm-4 offset-lg-5 scrolling">
                <div>
                    <h4>Friends</h4>
                    @foreach (var item in Model.friendList)
                    {
                        <a asp-controller="Relations" asp-action="UserProfile" asp-route-id="@item.User.Id">
                            <img src=" @item.User.ProfileImage" alt="img" class="smallimg" />
                            @Html.DisplayFor(modelItem => item.User.Firstname)
                            @Html.DisplayFor(x => item.User.Lastname)
                        </a>

                    }

                    @foreach (var item in Model.friendList2)
                    {
                        <a asp-controller="Relations" asp-action="UserProfile" asp-route-id="@item.Friend.Id">
                            <img src=" @item.Friend.ProfileImage" alt="img" class="smallimg" />
                            @Html.DisplayFor(modelItem => item.Friend.Firstname)
                            @Html.DisplayFor(x => item.Friend.Lastname)
                        </a>

                    }

                </div>

            </div>
        </div>
    </div>
    
</div>
