@model IndexViewModel

@{

    ViewData["Title"] = "Manage your account";

}



<h2>@ViewData["Title"].</h2>

<p class="text-success">@ViewData["StatusMessage"]</p>
<a asp-action="EditProfile" class="btn btn-default">Edit Profile</a>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="@Model.ApplicationUser.BannerImage" alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" src="@Model.ApplicationUser.ProfileImage" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>@Model.ApplicationUser.Firstname @Model.ApplicationUser.Lastname</h1>
            
        </div>
    </div>
    <hr />
    <div class="col-sm-4 offset-lg-5 scrolling">
        <div>
            <h4>Friends</h4>
            @foreach (var item in Model.friendList)
            {
                <a asp-controller="Relations" asp-action="UserProfile" asp-route-id="@item.Friend.Id">
                    <img src=" @item.Friend.ProfileImage" alt="img" class="smallimg" />
                    @Html.DisplayFor(modelItem => item.Friend.Firstname)
                    @Html.DisplayFor(x => item.Friend.Lastname)
                </a>

            }
            
            @foreach (var item in Model.friendList2)
            {
                <a asp-controller="Relations" asp-action="UserProfile" asp-route-id="@item.User.Id">
                    <img src=" @item.User.ProfileImage" alt="img" class="smallimg" />
                    @Html.DisplayFor(modelItem => item.User.Firstname)
                    @Html.DisplayFor(x => item.User.Lastname)
                </a>

            }

        </div>

    </div>
    @foreach(var item in Model.totalPosts)
    {
        <span>@item.message.Count()</span>
    }


</div>

