@model IndexViewModel

@{

    ViewData["Title"] = "Manage your account";

}



<h2>@ViewData["Title"].</h2>

<p class="text-success">@ViewData["StatusMessage"]</p>
<a asp-action="EditProfile" class="btn btn-default">Edit Profile</a>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="@Model.ApplicationUser.BannerImage" alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" src="@Model.ApplicationUser.ProfileImage" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>@Model.ApplicationUser.Firstname @Model.ApplicationUser.Lastname</h1>
            
        </div>
    </div>
    <hr />
    <h4>Friends</h4>
    <div class="col-sm-4 offset-lg-5 scrolling">
        <div>
            @foreach (var item in Model.friendList)
            {
                <a asp-controller="Relations" asp-action="UserProfile" asp-route-id="@item.Friend.Id">
                    <img src=" @item.Friend.ProfileImage" alt="img" class="smallimg" />
                    @Html.DisplayFor(modelItem => item.Friend.Firstname)
                    @Html.DisplayFor(x => item.Friend.Lastname)
                </a>

            }
            
            @foreach (var item in Model.friendList2)
            {
                <a asp-controller="Relations" asp-action="UserProfile" asp-route-id="@item.User.Id">
                    <img src=" @item.User.ProfileImage" alt="img" class="smallimg" />
                    @Html.DisplayFor(modelItem => item.User.Firstname)
                    @Html.DisplayFor(x => item.User.Lastname)
                </a>

            }
        </div>

    </div>
    <br />
    <hr />

    <div class="col-md-3">
        <h3>Threads Created</h3>
        <ul>
        @foreach(var item in Model.totalThreads)
        {
           <li><a asp-controller="ThreadPosts" asp-action="Index" asp-route-id="@item.ThreadId">@item.Title</a></li> 
        }
            </ul>
    </div>

    <div class="col-md-3">
        <h3>Total Posts Made</h3>
        <ul>

                <li>@Model.totalPosts.Count()</li>
            
        </ul>
    </div>

</div>

