@model IndexViewModel

@{

    ViewData["Title"] = "Manage your account";

}



<h2>@ViewData["Title"].</h2>

<p class="text-success">@ViewData["StatusMessage"]</p>



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name: </dt>

        <dd>

            @Model.ApplicationUser.Firstname @Model.ApplicationUser.Lastname
        </dd>
        <dt>Email: </dt>
        <dd>
            @Model.ApplicationUser.Email
        </dd>
    </dl>

    <br />
    <a asp-action="EditProfile" class="btn btn-default">Edit Profile</a>

</div>